{{> header}}

<section id="viewProfile">
    <div class="content">
        <div class="chirper">

            <h2 class="titlebar">{{username}}</h2>

            <a id="btnFollow" class="chirp-author" href="#/follow/:{{id}}">Follow</a>

            <div id="userProfileStats" class="user-details">
                <span>{{nbChirps}} chirps</span> | <span>{{subings}} following</span> | <span>2 followers</span>
            </div>
        </div>
        <div id="profileChirps" class="chirps">
            <h2 class="titlebar">Chirps</h2>
            {{#each chirps}}
            {{> chirp}}
            {{else}}
            <p>No chirps is the database</p>
            {{/each}}
        </div>
    </div>
</section>

{{> footer}}